.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

nav button {
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}
